@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template: auto auto auto / auto;
}

/*----------------------------------------Main----------------------------------------*/
.main {
  background-color: #fddb00;
}

.main .content {
  width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template: auto auto auto/ auto;
}

header {
  display: grid;
  padding-top: 30px;
  align-items: center;
  grid-template: auto auto / auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 30px;
}

.menu {
  list-style: none;
  text-align: center;
}

.menu li {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}

.menu a {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.main-banner {
  padding-top: 30px;
}

.text {
  text-align: center;
}

.text h1 {
  font-size: 30px;
  padding-top: 20px;
}

.text h3 {
  color: gray;
  padding: 20px 0px;
}

.text p {
  padding-bottom: 20px;
  color: lightslategray;
}

.text .platforms {
  display: grid;
  justify-content: space-evenly;
  grid-template: auto / auto auto auto;
}

.text .platforms img {
  width: 40px;
}

.main-banner img {
  width: 0px;
}

.dots {
  margin: 20px;
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-radius: 100px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
}

.dot:hover {
  background-color: rgb(255, 255, 255);
}

/*----------------------------------------Features----------------------------------------*/
.features .content {
  width: 80%;
  height: 100%;
  margin: auto;
}

.title-features {
  text-align: center;
  padding: 70px 0px 20px 0px;
}

.subtitle-features {
  color: gray;
  text-align: center;
}

.banners {
  padding: 50px 0px;
}

.banner {
  display: grid;
  padding: 30px 0px;
  grid-template: auto auto / auto;
}

.banner img {
  margin: auto;
}

.texts h1 {
  font-size: 20px;
  padding-top: 5px;
  text-align: center;
}

.texts p {
  font-size: 15px;
  padding-top: 5px;
  text-align: center;
}

/*----------------------------------------Support----------------------------------------*/
.support {
  background-color: #000000;
}

.support .content {
  width: 80%;
  height: 100%;
  margin: auto;
}

.title-support {
  color: #fddb00;
  text-align: center;
  padding: 50px 0px 20px 0px;
}

.subtitle-support {
  width: 75%;
  margin: auto;
  color: gray;
  text-align: center;
  padding-bottom: 20px;
}

.email {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 40px;
}

.email .input {
  width: 75%;
  margin: 2px;
  padding: 10px 5px;
  border-style: none;
  border-radius: 5px;
}

.email .button {
  margin: 2px;
  padding: 10px 5px;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  background-color: #fddb00;
}

.social-media {
  text-align: center;
}

.social-media img {
  padding: 10px;
}

footer {
  color: white;
  padding-top: 50px;
  padding-bottom: 70px;
}

.address :first-child {
  padding-top: 30px;
}

.address p {
  font-size: 15px;
  padding: 2px 0px;
}

.lists {
  padding-top: 20px;
  text-align: center;
}

.list ul {
  list-style: none;
}

.list li {
  padding: 5px;
  font-size: 13px;
}

.list a {
  color: white;
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}

/*----------------------------------------Responsiveness----------------------------------------*/
@media screen and (min-width: 600px) {
  /*----------------------------------------Features----------------------------------------*/
  .banners {
    display: grid;
    grid-template: auto auto auto / auto auto;
  }

  .banner {
    padding: 30px 20px;
  }
  
  .texts p {
    text-align: left;
  }

  /*----------------------------------------Support----------------------------------------*/
  .lists {
    display: grid;
    text-align: left;
    grid-template: auto / auto auto auto auto;
  }
}

@media screen and (min-width: 700px) {
  /*----------------------------------------Main----------------------------------------*/
  header {
    grid-template: auto / auto auto;
  }

  .logo {
    justify-content: left;
  }

  .menu {
    display: grid;
    grid-template: auto / auto auto auto;
  }

  .main-banner {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: auto / 50% 50%;
  }

  .main-banner img {
    width: 200px;
  }

  .text {
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  /*----------------------------------------Features----------------------------------------*/
  .banner {
    grid-template: auto / auto auto;
  }

  .texts h1 {
    padding-left: 5px;
    text-align: left;
  }
  
  .texts p {
    padding-left: 5px;
  }

  /*----------------------------------------Support----------------------------------------*/
  footer {
    display: grid;
    grid-template: auto / 30% auto;
  }

  .email .input {
    width: 500px;
    padding: 15px 10px;
  }
  
  .email .button {
    padding: 15px 10px;
  }

  .social-media img {
    padding: 20px;
  }
  
}

@media screen and (min-width: 1000px) {
  /*----------------------------------------Main----------------------------------------*/
  .main-banner img {
    width: 300px;
  }

  /*----------------------------------------Features----------------------------------------*/
  .banners {
    grid-template: auto auto / auto auto auto;
  }
}
